
#main-visual{
    width: 100%;
    height: 840px;
    padding: 20px;
    padding-top: 100px;
    padding-bottom: 50px;
    box-sizing: border-box;
    background: linear-gradient(#f8faff 67.5%,#f0f4ff 0)
}
.mainv-container{
    display: flex;
    position: relative;
    justify-content: flex-end;
    max-width: 1350px;
    height: 100%;
    margin: 0 auto;
}
#main-visual .mainv-bg{
    background-image: url(../img/main-bg.0c2e95bfd550759a46367d3abb3d05df.png);
    width: 900px;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.mainv-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width:350px;
    height: 100%;
}
.mainv-content h1{
    width: 100%;
    height: 400px;
    background-image: url(../img/main-slogan.4c47e7658eb4f468e43253b57f8466b5.png);
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -9999px;
}
.mainv-content p{
    height: 40px;
    background-image: url(../img/main-millielibrary.e908db2a7501cfb173f997fcc3314c2a.png);
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -9999px;
}


/**/
/**/
#waiting-book{
}
#waiting-book h2{
    
}
#waiting-book>p{
   
}
#waiting-book .wb-slider{
    width: 100%;
    overflow: hidden;
}
#waiting-book .wb-slider p{
    height: 250px;
    background-repeat: repeat-x;
    background-size: 0/3000px;
    
}
@keyframes slidebooks1 {
    0% {background-position: 0;}
    100% {background-position:-3000px;}
}
@keyframes slidebooks2 {
    0% {background-position: 0;}
    100% {background-position:3000px;}
}
#waiting-book .wb-slider p:first-of-type{
    background-image: url(../img/slide01.a7cc998bd9e966d0d94956bef997e0c8.png);
    animation: slidebooks1 100s linear infinite;
}
#waiting-book .wb-slider p:nth-of-type(2){
    background-image: url(../img/slide02.49dff390b1caebf4be084582e573d26f.png);
    animation: slidebooks2 100s linear infinite;
}
#waiting-book .wb-slider p:nth-of-type(3){
    background-image: url(../img/slide03.2246c95c20916dc665da8a84af1cd2ad.png);
    animation: slidebooks1 100s linear infinite;
}


/**/
/**/
#object{
    background-color: #f7f7f7;
}
#object .object-video-container{
    position: relative;
    max-width: 730px;
    margin: 0 auto;
}
#object .object-video{
    width: 100%;
    height: 400px;
    background: url(../img/videocover.5fe6289d992504bacaa9ef26135eb9db.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
   
}
#object .object-video .ob-playbtn{
    position: absolute;
    top: 50%;
    margin-top: -30px;
    left: 50%;
    margin-left: -30px;
    width: 60px;
    height: 60px;
    background: url(../img/play-btn.2793db10c08e75f4d3ea5226f19f650b.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
#object .object-video video{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}
#object a{
    position: relative;
    display: block;
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #333;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}
#object a::after{
    position: absolute;
    content: ">";
    top: 15px;
    right: 20px;
}

/**/
/**/
#infinite{
    width: 100%;
    text-align: center;
}
#infinite h3{
    text-align: start;
    font-size: 20px;
    margin-bottom: 25px;
    margin-top: 50px;
    margin-left: 24px;
}
#infinite .bookgroup-container{
    max-width: 1200px;
    margin: 0 auto;
}
#infinite .bookgroup-container ul{
    
}
.booklist-wrap::-webkit-scrollbar {
	display:none /* Chrome , Safari , Opera */
}
#infinite .bookgroup-container ul li:first-of-type dl{
    margin-left: 0;
}
#infinite .bookgroup-container ul li dl{
   margin-left: 24px;
}
ul li dl dt{
    position: relative;
    margin-bottom: 10px;
}
ul li dl dt img{
    width: 145px;
    height: 213px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
#infinite .bookgroup-container ul li dl dt span{
    position: absolute;
    text-indent: -99999px;
}
#infinite .bookgroup-container ul li dl dt span:first-of-type{
    top: 0;
    right: -7px;
    width: 40px;
    height: 34px;
}
#infinite .bookgroup-container ul li dl dt span:nth-of-type(2){
    top: 25px;
    right: -7px;
    width: 40px;
    height: 34px;
}

#infinite .bookgroup-container ul li dl dd{
    width: 145px;
    text-align: start;
}
#infinite .bookgroup-container ul li dl dd .badge{
    width: 42px;
    height: 18px;
    margin-bottom: 5px;
    margin-right: 103px;
}
#infinite .bookgroup-container ul li dl dd p{
    margin-bottom: 5px;
}

#infinite .bookgroup-container ul li dl dd .reading span:first-of-type{
    position: relative;
    padding-left: 20px;
}
#infinite .bookgroup-container ul li dl dd .reading span:first-of-type::after{
    position: absolute;
    top: 0;
    right: -10px;
    content: "|";
}
#infinite .bookgroup-container ul li dl dd .reading span:first-of-type::before{
    position: absolute;
    top: 2px;
    left: 0;
    width: 14px;
    height: 14px;
    content: "";
    background: url(../img/plus.svg);
    background-size: contain;
}

#infinite .bookgroup-container ul li dl dd .reading span:last-of-type{
    padding-left: 15px;
}



/**/
/**/
#interest{}
#interest .book-section{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

#interest-slide{
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    height: 400px;
    overflow: hidden;
}
#interest-slide div{
    position: absolute;
    top: 0;
    left: 0;
}
#interest-slide div:nth-of-type(n+2){
    display: none;
}
#interest ul li{
    margin-left: 24px;
}
#interest ul li:first-of-type{
    margin-left: 0;
}

#interest ul li dl dt{
    position: relative;
    margin-bottom: 10px;
}
#interest ul li dl dt img{
    width: 145px;
    height: 213px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
#interest ul li dl dt span{
    position: absolute;
    text-indent: -99999px;
}







.ft-h{
    font-size: 49px;
    margin-bottom: 40px;
}
.ft-p{
    font-size: 22px;
    margin-bottom: 70px;
}
.hidden{
    display: none !important;
}
.show{
    display: block !important;
}
.wrap{
    text-align: center;
    padding: 70px 0 50px 0;
    box-sizing: border-box;
}

#infinite .bookgroup-container ul li dl dt span.free{
    background: url(../img/free.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#infinite .bookgroup-container ul li dl dt span.audio{
    background: url(../img/badge-readingbook.6d3d4deb89226cd278417a183150b386.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#infinite .bookgroup-container ul li dl dt span.summary{
    background: url(../img/badge-short.57106ab2f76f3e4e107a4ccb19db5e6e.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#infinite .bookgroup-container ul li dl dt span.full{
    background: url(../img/badge-full.a98c7199ab8829b059a2386c6f91efca.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.reader{
    background: url(../img/label-reader.76ca1a707ad27c4f4f1d948a781c8d7f.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.mp3{
    background: url(../img/label-mp3.d91abe449f24383648385744bb3c3d5c.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.aitts{
    background: url(../img/label-ai.f1b13ffd665eb8f701054151aaa43d9a.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.booklist-wrap{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 24px;
    overflow-x: auto;
    scrollbar-width: none; /*firefox*/
    cursor: grab;
}

.title{
    width: 145px;
    font-weight: bold;
    font-size: 16px;
    text-align: start;
}
.author{
    width: 145px;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #6f6f6f;
    font-weight: bold;
    text-align: start;
}
.reading{
    width: 145px;
    font-size: 14px;
    color: #6f6f6f;
    font-weight: bold;
    text-align: start;
}


@media all and (max-width: 1050px){
    .mainv-content p{
        display: none;
    }
    #main-visual{
        padding-left: 50px;
        padding-right: 50px;
    }
}
@media all and (max-width: 940px){
    .mainv-container{
        width: 100%;
        flex-direction: column;
    }
    .mainv-content{
        width: 100%;
        position: inherit;
        height: 200px;
    }
    .mainv-content h1{
        max-width: 50%;
    }
    #main-visual{
        padding-top: 50px;
    }
    #main-visual .mainv-bg{
        width: 100%;
        background-position: bottom;
    }
}
@media all and (max-width: 840px){
    .ft-h{
        font-size: 32px;
        margin-bottom: 20px;
    }
    .ft-p{
        font-size: 18px;
        margin-bottom: 50px;
    }
    #object{
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
    }
    #object .object-video .ob-playbtn{
        width: 50px;
        height: 50px;
        margin-top: -25px;
        margin-left: -25px;
    }
}
@media all and (max-width: 800px){
    .mainv-content{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }
    .mainv-content{
        height: 100px;
    }
}
@media all and (max-width: 720px){
    #main-visual{
        height: 600px;
        padding: 20px;
    }
    .ft-p{
        margin-bottom: 20px;
    }
    #object .object-video{
        height: 350px;
    }
}
@media all and (max-width: 520px){
    #main-visual{
        height: 500px;
    }
    #object .object-video{
        height: 250px;
    }
   
}
@media all and (max-width: 420px){
    #main-visual{
        height: 400px;
    }
}